@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body, html {
    background-color: rgba(0,0,0,.8);
    padding: 0;
    margin: 0;
    
}
* {
    font-family: "Open Sans", sans-serif;
    font-weight:300;
    font-size:12px;
}